/* define custom fonts */
/* UT Staybro Demo */
@font-face {
  font-family: 'UT Staybro Demo';
  src: url('fonts/UT Staybro Demo.woff2') format('woff2'),
       url('fonts/UT Staybro Demo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* raleway-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v36-latin-regular.woff2') format('woff2'),
       url('fonts/raleway-v36-latin-regular.woff') format('woff');
}
/* raleway-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/raleway-v36-latin-italic.woff2') format('woff2'),
       url('fonts/raleway-v36-latin-italic.woff') format('woff');
}
/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/raleway-v36-latin-700.woff2') format('woff2'),
       url('fonts/raleway-v36-latin-700.woff') format('woff');
}

/* colors for Light Mode (default) */
:root {
    --color-bg: #FDFCFB;
    --color-text: #383534;
    --color-accent-primary: #913006;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #383534;
        --color-text: #FDFCFB;
        --color-accent-primary: #F58E66;
    }
}

/* Make sure the viewport scales on mobiles */
meta[name="viewport"] {
    content: "width=device-width, initial-scale=1";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: 'Raleway', Arial;
    text-align: center;
    line-height: 1.6;
}

a {
    color: var(--color-accent-primary);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .wrapper {
    padding: 10px;
    text-align: center;
}

.site-name {
    font-size: clamp(6rem, 15vw, 20rem);
    font-family: 'UT Staybro Demo', serif;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    line-height: 1;
    background: linear-gradient(to left, #913006, #F58E66);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px
}

header .site-name {
    font-size: clamp(4rem, 4vw, 7rem);
}

header nav li a {
    background-color: var(--color-bg);
    color: var(--color-accent-primary);
}

nav li {
    display: inline-block;
    margin: 0 0.5em;
    line-height: 1.5em;
}

nav li a {
    text-decoration: none;
    background-color: var(--color-accent-primary);
    color: var(--color-bg);
    margin: 0.75em;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h1 a {
    color: var(--color-accent-primary);
    text-decoration: none;
}

h2 {
    margin: 20px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 5%;
}

.container .wrapper {
    width: 100%;
    /* Makes both columns on main page equal width */
}

.container .navigation-list {
    font-size: clamp(2rem, 3vw, 6rem);
    align-items: middle;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.main-page {
    flex-direction: column;
}

.item-list>li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-bg);
    margin-bottom: 1em;
}

.item-list>li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 0.25em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.tag-list li,
.tag {
    display: inline-block;
    color: var(--color-bg);
    background-color: var(--color-accent-primary);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
    color: var(--color-bg);
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 3em;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    padding: 2%;
    margin-top: 1.5em;
    color: var(--color-text);
}

footer p {
    text-align: center;
}

/* For desktops */
@media (min-width: 400px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .wrapper {
        width: 50vw;
    }
}