/* colors for Light Mode (default) */
:root {
  --color-bg: #FDFCFB;
  --color-text: #383534;
  --color-accent-primary: #913006;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #383534;
    --color-text: #FDFCFB;
    --color-accent-primary: #F58E66;
  }
}

/* Make sure the viewport scales on mobiles */
meta[name="viewport"] { content: "width=device-width, initial-scale=1"; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: Helvetica, Arial;
    text-align: center;
    line-height: 1.6;
}

a {
    color: var(--color-accent-primary);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

header .site-name {
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--color-accent-primary);
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h1 a {
    color: var(--color-accent-primary);
    text-decoration: none;
}

h2 {
    margin: 20px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-bg);
    margin-bottom: 1em;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 0.25em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.tag-list li,
.tag {
    display: inline-block;
    color: var(--color-bg);
    background-color: var(--color-accent-primary);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
    color: var(--color-bg);
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 3em;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

.article img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
    margin-top: 1.5em;
    color: var(--color-text);
}

footer p {
    text-align: center;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

/* For desktops */
@media (min-width: 400px) {
  .container {
    flex-direction: row;
  }

  header {
    width: 25%;
  }
}